@!component('../layouts/header')
  <div class="container-fluid">
    <section>
        <h1 class="display-1">
           View User Details
          </h1>  
    </section>
    <section>
        <div class="listUserTable">
            <form class="mt-5" >
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value="{{user.name}}">
                    
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{user.email}}">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="*****">
                </div>
                <div class="mb-3">
                  <label for="avatar" class="form-label">Image</label>
                  <div class="">
                    <img src="../uploads/{{user.avatar}}" style="height: 100px; width:100px"/>
                  </div>
                </div>
                <div class="mb-3 form-check">
                </div>
                @!component('../components/button', { text: 'Back', type: 'button' , className:'btn btn-danger', routeName: 'index'})
              </form>
        </div>
       
    </section>
  </div>
  
</body>
</html>